@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button {
    @apply cursor-pointer transition duration-300 hover:brightness-85;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
