@import "tailwindcss";

/* @layer components: projede kullanıcılak sınıfları tanımları */
@layer components {
  /* @apply: css dosyasında tailwind kodları yazmamızı sağlar */
  .container {
    @apply max-w-7xl mx-auto p-5;
  }

  .active {
    @apply bg-black text-white;
  }
}

/* @layer base: html elementlerinin ortak stillerini tanımlarız */
@layer base {
  button {
    @apply px-4 py-1 border border-zinc-300 rounded-md hover:bg-zinc-300/40 transition cursor-pointer;
  }
}
