@import "tailwindcss";

@layer base {
  button {
    @apply cursor-pointer disabled:cursor-not-allowed transition duration-300 hover:brightness-80;
  }

  textarea {
    @apply w-full min-h-50 lg:min-h-75 text-zinc-100 lg:text-lg rounded-xl p-4 bg-zinc-900 border-2 border-zinc-800 focus:border-blue-500 focus:outline-none resize-none disabled:opacity-95 disabled:bg-zinc-700/50 disabled:border-zinc-700 disabled:placeholder:text-zinc-200;
  }
}

@layer components {
  .btn {
    @apply text-xs text-zinc-400 flex gap-2;
  }
}
