@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-900 text-white;
  }

  button {
    @apply cursor-pointer hover:brightness-75 transition duration-300;
  }
}

@layer components {
  .btn {
    @apply px-4 py-1 text-sm rounded-md text-shadow-lg text-shadow-black/50;
  }
}
